[Unit]
Description=Garbage Detection System
After=network.target

[Service]
Type=forking
User=orangepi
WorkingDirectory=/home/orangepi/garbage-detection_release
ExecStart=/home/orangepi/garbage-detection_release/venv/bin/python rknn_garbage.py config.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target