[Unit]
Description=Garbage Detection System
After=network.target

[Service]
Type=forking
User=orange
WorkingDirectory=/home/orange/garbage
ExecStart=/home/orange/garbage/venv/bin/python3 rknn_garbage.py config.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
